{% extends "base.html" %}
{% block content %}
    <ul>
        {% for category, articles in categories %}
            <li>
                <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a>
                ({{ articles|length }} posts)
            </li>
        {% endfor %}
    </ul>
    <p>
        Properly speaking, "Learning" and "Teaching" would be better as one category
        if I could find a short name for it.
        As Kevin Kelley puts it:
        <blockquote>
            We don't have a word for learning and teaching at the same time,
            but our schooling would improve if we did.
        </blockquote>
    </p>
    <p>
        There's also a <a href="/tags">list of tags</a>, though I think that's less useful.
    </p>
{% endblock content %}
